@import "../scss/styleguide.scss";

header {
  position: fixed;
  top: 0;
  left: 2.5%;
  width: 95%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;

    > li {
      position: relative;
      height: 100%;

      h2 {
        @include posCenter;

        font-family: "Abril Fatface", cursive;
        font-size: 15vw;
        color: #2d3436;
        text-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        user-select: none;
        z-index: 1;
        transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:active {
          transform: translate(-50%, -50%) scale(1.5);
          color: random(3);
          ~ canvas {
            filter: grayscale(1) blur(10px);
          }
        }
      }

      canvas {
        width: 100%;
        height: 100%;
        filter: grayscale(0.1);
      }
    }
  }

  .button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(3.5) scaleX(3);

    &.left {
      left: 30px;
    }

    &.right {
      right: 30px;
    }
  }
}
