@font-face {
  font-family: "kof";
  src: url("./font/kof.ttf");
}
@font-face {
  font-family: "kor";
  src: url("./font/kor.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

body {
  font-family: "kof";
  background: linear-gradient(black, #0000f1);
}

.kor{
  font-family: "kor" !important;
  transform: scaleX(1.2);
}