.howToUse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  .changeLang {
    position: fixed;
    right: 2%;
    bottom: 2%;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: #f0f0f0;
    cursor: pointer;
  }

  @media screen and (min-width: 900px) {
    font-size: 20px;
  }
  @media screen and (max-width: 900px) {
    font-size: 1vw;
  }

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .hows {
      width: 100%;
      max-width: 800px;
      color: #f0f0f0;
      margin: 0 auto;
      .how {
        display: none;
        .imgBox {
          position: relative;
        }
        img {
          display: block;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          opacity: 0;

          &:nth-of-type(2) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
          }
        }

        p {
          margin-bottom: 40px;
          line-height: 1.4em;
        }

        &.active {
          display: block;
        }
      }
    }

    .scrollSpy {
      margin-bottom: 20px;

      li {
        display: inline-block;
        width: 14px;
        height: 14px;

        margin: 0 6px;
        background-color: rgba($color: #fff, $alpha: 0.5);

        &.active {
          background-color: #fc3;
        }
      }
    }

    .btnBox {
      .enter {
        display: none;
      }
      &.active {
        .arrow {
          display: none;
        }
        .enter {
          display: inline-block;
        }
      }
    }

    button {
      padding: 8px 10px;
      border: none;
      font-size: 20px;
      background-color: transparent;
      color: #f0f0f0;

      &.right {
        transform: rotate(180deg);
        transform-origin: center;
      }

      &.skip {
        position: absolute;
        right: 0;
        bottom: calc(100% + 18px);
        font-size: 14px;
        padding: 0;
        cursor: pointer;
      }
    }
  }
}
