#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  z-index: 100;

  &.pop {
    display: block;
  }

  .modalBox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    margin: 0 auto;
    transition: width 0.5s;
    .pc {
      display: block;
    }
    .m {
      display: none;
    }

    &.switch {
      width: 30%;
      min-width: 400px;
      .pc {
        display: none;
      }
      .m {
        display: block;
      }
    }
  }

  iframe {
    border: none;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: transparent;
  }

  .close {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background-color: rbga(0, 0, 0, 0.5);
    border-radius: 50%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: black;

      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: #dbdbdb;
    text-decoration: none;
    color: #111;
    left: 100%;
    border: 2px solid #111;
    &.switchBtn {
      top: -2px;
    }
    &.newBtn {
      top: 56px;
    }
  }
}

@keyframes pop0 {
  from {
    top: 0;
    left: 100%;
  }
  to {
    top: 0;
    left: 0%;
  }
}
@keyframes pop1 {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes pop2 {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes pop3 {
  from {
    top: 0;
    right: 100%;
  }
  to {
    top: 0;
    right: 0%;
  }
}
