#modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  z-index: 100;

  &.pop {
    display: block;
  }

  iframe {
    border: none;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    transform: scale(0.8);
    background-color: transparent;
    transition: width 0.5s;

    &.mobile {
      width: 40%;
    }
  }

  .close {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background-color: rbga(0, 0, 0, 0.5);
    border-radius: 50%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: black;

      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .resBtn {
    position: absolute;
    top: 0;
  }
}

@keyframes pop0 {
  from {
    top: 0;
    left: 100%;
  }
  to {
    top: 0;
    left: 0%;
  }
}
@keyframes pop1 {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes pop2 {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes pop3 {
  from {
    top: 0;
    right: 100%;
  }
  to {
    top: 0;
    right: 0%;
  }
}
