#preview {
  position: relative;
  width: 95%;
  margin: 0 auto;
  min-height: 35vh;
  height: 35%;

  .textBox {
    position: absolute;
    top: 83%;
    left: 2%;
    width: 50%;
    color: #ececec;
    font-size: 16px;
    h2 {
      background: linear-gradient(#326ade, #d5d9fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #000085;
      font-size: 40px;
      margin-bottom: 20px;
      letter-spacing: -0.1em;
    }

    span {
      margin-bottom: 6px;
      display: inline-block;
    }
  }

  img {
    display: block;
    width: 25%;
    image-rendering: pixelated;
    margin-left: 4%;
  }
}
