#preview {
  position: relative;
  width: 95%;
  margin: 0 auto;
  min-height: 50vh;
  height: 50%;

  .textBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }

  img {
    display: block;
    width: 50%;
  }
}
